body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

#title {
  display: flex;
  justify-self: flex-start;
  margin-bottom: 30px;
  font-size: 32px;
}

#menu {
  display: inline-block;
  margin: 20px auto 20px auto;
}

#size-input {
  width: 50px;
}

#erase {
  margin-left: 60px;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(var(--colNum), auto);
  grid-template-rows: repeat(var(--rowNum), auto);
  width: 640px;
  height: 640px;
}

#grid-container div {
  border: 1px solid;
}

.filled {
  background-color: black;
}